html {
    scroll-behavior: smooth;
}

body {
    scroll-snap-type: y mandatory;
    background-image: url(img/backkis.jpg);
    background-repeat:no-repeat;
    background-color: rgba(211, 211, 211, 0.3);
    background-size: 100% 50%;
}

::-webkit-scrollbar {
    display: none;
}

.tooltip-icon {
  font-weight: 700;
    cursor: help;
    width: 100%;
    text-align: center;
    background-color: #f4f8f9;
    color: black;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: inline-block;
    line-height: 2em;
    margin-left: 0.6em;
}

.tooltip {
  position: absolute;
      z-index: 1;
      transition: 0.3s all;
      padding: 1em 1.3em;
      margin-top: 1.3em;
      font-size: 0.9rem;
      color: white;
      background-color: #5f5f5f;
      font-weight: 400;
      pointer-events: none;
      border-radius: 0.3em;
      text-align: left;
      line-height: 1.6;
      opacity:0;
}

.tooltip-icon:hover .tooltip {
  opacity: 0.8;
}

#custom-header, #custom-body {
  height: calc(100vh);
  margin-left: 20%;
  margin-right: 20%;
}

#header {
    padding-top: 100px;
    margin-left: -25%;
    color: #ffffff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 310%;
}

#slogan {
    color: #ff8f00;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 110%;
}

.color-text {
  font-weight: 700;
  color: #ffffff;
}

#intro {
  text-align: center;
  top: 45vh;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  width: 80%;
}

#navigationWrap {
    margin-top: -17%;
    margin-left: 40%;
    margin-bottom: 20%;
}

#toCalculator {
    height: 100px;
    width: 30%;
    border-radius: 5px;
}

#container_body {
    height: 100%;
    background-color: #ffffff;
    padding-left: 12%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 32% 30%;
    grid-template-columns: 30% 30%;
    grid-gap: 25%;
}

.halfs {
    margin-top: 15%;
}

#submit_container {
    margin-top: 30px;
    text-align: left;
}

#submit {
    margin-top: 30px;
    width: 100%;
}

.result-field {
    text-align: center;
    margin-top: 60px;
}

.input_field {
    text-align: right;
}

.input p {
    margin-bottom: -30px;
}

.section-child {
    width: 100%;
}

#section1 {
    margin-top: -42px;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.5);
}

/* label focus color */
.input input[type=number]:focus + label {
    color: #ff8f00 !important;
}
/* label underline focus color */
.input input[type=number
]:focus {
    border-bottom: 1px solid #ff8f00 !important;
    box-shadow: 0 1px 0 0 #ff8f00 !important;
}

#overUnder, #sumResults {
    margin-top: 50px;
}

#overUnder input[type=number], #sumResults input[type=number] {
    border-bottom: 2px solid #ff8f00 !important;
}

#custom-body {
    -webkit-box-shadow: 0px 9px 5px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 9px 5px 5px rgba(0,0,0,0.1);
    box-shadow: 0px 9px 5px 5px rgba(0,0,0,0.1);
}
