html {
    scroll-behavior: smooth;
}

body {
    scroll-snap-type: y mandatory;
    background-image: url(images/background.jpg);
    background-repeat:no-repeat;
    background-color: rgba(211, 211, 211, 0.3);
    background-size: 100% 50%;
}

::-webkit-scrollbar {
    display: none;
}

#custom-header, #custom-body {
  height: calc(100vh);
  margin-left: 20%;
  margin-right: 20%;
}

#custom-header {

}

#app-name {
  margin-top: 10%;
}

#header {
  color: #4C423F;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 210%;
  font-weight: 1200;
}

#slogan {
  color: #33ff33;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 110%;
}

#intro {
  text-align: center;
  top: 50vh;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  width: 80%;
}

.color-text {
  font-weight: 700;
  color: #4C423F;
}

#navigationWrap {
    margin-top: -25%;
    margin-left: 40%;
    margin-bottom: 20%;
}

#toCalculator {
    height: 100px;
    width: 30%;
}

#container_body {
    height: 100%;
    background-color: #ffffff;
    padding-left: 12%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 32% 30%;
    grid-template-columns: 30% 30%;
    grid-gap: 25%;
}

.halfs {
    margin-top: 15%;
}

#submit_container {
    margin-top: 50px;
    text-align: left;
}

#reqSavings {
    text-align: left;
    margin-top: 20px;
}

.input_field {
    text-align: right;
}

.input p {
    margin-bottom: -30px;
}

.section-child {
    scroll-snap-align: start;
}