{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script type="text/javascript" src="{% static 'js/javascript.js' %}"></script>
      <link href="{% static 'css/stylesheet.css?v=1.0.0' %}" type="text/css" rel="stylesheet"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <title>
          Budget
      </title>
  </head>
  <body onload="configureVars()">
<!-- everything inside this container div -->
  <div id="container">
<!-- our header -->
      <div id="section1" class="section-child">
          <div id="custom-header">
              <div id=app-name>
                  <h1 id="header">Design.</h1>
              </div>
              <div id="slogan">
                  <h2 id="intro">Yksinkertainen sovellus <br/> <span class="color-text"> tulevaisuuden varallisuuden rakentamiseksi. </span>
                  </h2>
              </div>
          </div>
          <div id="navigationWrap">
              <div id="navigation">
                  <a href="#section2">
                      <button id="toCalculator" class="btn-floating btn-large amber darken-3 pulse"> Laskuriin </button>
                  </a>
              </div>
          </div>
      </div>

<!-- Actual page start -->
      <div id="section2" class="section-child">
          <div id="custom-body">
                  <div id="container_body">
                  <div class="halfs" id="half_1">
                      <form id="myForm" action="/#section2" method="post">
                          {% csrf_token %}
                          <div class="input">
                              <p>
                                  Nettotulot (e/kk):
                              </p>
                              <input type="number" class="input_field" id="netIncome" name="netIncome"
                                     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                     maxlength="10" value="{{ netIncome }}" onClick="this.select();"
                                     required="required"/>
                          </div>
                          <div class="input">
                              <p>
                                  Säästöajan pituus vuosina:
                              </p>
                              <input type="number" class="input_field" id="savingTime" name="savingTime"
                                     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                     maxlength="10" value="{{ savingTime }}" onClick="this.select();"
                                     required="required"/>
                          </div>
                          <div class="input">
                              <p>
                                  Tavoitevarallisuus:
                              </p>
                              <input type="number" class="input_field" id="targetWealth" name="targetWealth"
                                     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                     maxlength="10" value="{{ targetWealth }}" onClick="this.select();"
                                     required="required"/>
                          </div>
                          <div class="input">
                              <p>
                                  Alkuvarallisuus:
                              </p>
                              <input type="number" class="input_field" id="beginningWealth" name="beginningWealth"
                                     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                     maxlength="10" value="{{ beginningWealth }}" onClick="this.select();"
                                     required="required"/>
                          </div>
                          <div class="input">
                              <p>
                                  Vuosittainen korkotavoite (%):
                              </p>
                              <input type="number" class="input_field" id="targetInterest" name="targetInterest"
                                     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                     maxlength="10" value="{{ targetInterest }}" onClick="this.select();"
                                     required="required"/>
                          </div>
                          <div id="submit_container">
                              <div class="button">
                                  <input id="submit" class="waves-effect btn amber darken-3" type="submit" name="Submit"
                                         oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                         maxlength="10"
                                         value="Laske">
                              </div>
                          </div>
                          <div id="reqSavings" class="result-field">
                              <p>
                                  Kuukausittainen säästö-/sijoitussumma
                              </p>
                              <div>
                                  <h4 style="text-align: center;" id="result-h4"> {{ result }}     </h4>
                              </div>
                          </div>
                      </form>
                  </div>
                  <div class="halfs" id="half_2">
                      <div class="input">
                          Asuminen:
                          <div class="tooltip-icon"> ?
		                        <div class="tooltip">Laske tähän asumiskustannukset: <br>- Vuokra <br>-Hoitovastike <br>-Yhtiövelka <br>-Lainanlyhennys</div>
                          </div>
                          <input type="number" class="input_field" id="living" name="living"
                                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                 maxlength="10" onClick="this.select();" value="0" onChange="reCalculate()"/>
                      </div>
                      <div class="input">
                          <p>
                              Ruoka:
                          </p>
                          <input type="number" class="input_field" id="food" name="food"
                                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                 maxlength="10" onClick="this.select();" value="0" onChange="reCalculate()"/>
                      </div>
                      <div class="input">
                          <p>
                              Autovero:
                          </p>
                          <input type="number" class="input_field" id="car" name="car"
                                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                 maxlength="10" onClick="this.select();" value="0" onChange="reCalculate()"/>
                      </div>
                      <div class="input">
                          <p>
                              Vakuutukset:
                          </p>
                          <input type="number" class="input_field" id="insurances" name="insurances"
                                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                 maxlength="10" onClick="this.select();" value="0" onChange="reCalculate()"/>
                      </div>
                      <div class="input">
                          <p>
                              Puhelinliittymä:
                          </p>
                          <input type="number" class="input_field" id="mobileSubscription" name="mobileSubscription"
                                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                 maxlength="10" onClick="this.select();" value="0" onChange="reCalculate()"/>
                      </div>
                      <div class="input">
                          <p>
                              Sähkö:
                          </p>
                          <input type="number" class="input_field" id="electricity" name="electricity"
                                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                 maxlength="10" onClick="this.select();" value="0" onChange="reCalculate()"/>
                      </div>
                      <div class="input">
                          <p>
                              Internet:
                          </p>
                          <input type="number" class="input_field" id="internet" name="internet"
                                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                 maxlength="10" onClick="this.select();" value="0" onChange="reCalculate()"/>
                      </div>
                      <div class="input">
                          <p>
                              Harrastukset:
                          </p>
                          <input type="number" class="input_field" id="hobbies" name="hobbies"
                                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                 maxlength="10" onClick="this.select();" value="0" onChange="reCalculate()"/>
                      </div>
                      <div class="input">
                          <p>
                              Muut:
                          </p>
                          <input type="number" class="input_field" id="other" name="other"
                                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                 maxlength="10" onClick="this.select();" value="0" onChange="reCalculate()"/>
                      </div>
                      <div class="input" id="sumResults">
                          <p>
                              Säästö-/Sijoitussumma:
                          </p>
                          <input type="number" class="input_field" id="totalSum" name="totalSum"
                                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                 maxlength="10" value="{{ result }}" readonly/>
                      </div>
                      <div class="input" id="overUnder">
                          <p>
                              Kk rahavirran yli-/alijäämä*:
                          </p>
                          <input type="number" class="input_field" id="totalOverUnder" name="totalSum"
                                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                 maxlength="10" value="0" readonly/>
                      </div>
                  </div>
                  </div>
          </div>
      </div>
  </div>
<!-- page end - write nothing below this comment -->
</body>
</html>
