{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8" />
      <script type="text/javascript" src="{% static 'js/javascript.js' %}"></script>
      <link href="{% static 'css/stylesheet.css?v=1.0.0' %}" type="text/css" rel="stylesheet"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <title>
          Budget
      </title>
  </head>
  <body>
<!-- everything inside this container div -->
  <div id="container">
<!-- our header -->
      <div id="section1" class="section-child">
          <div id="custom-header">
              <div id=app-name>
                  <h1 id="header">Budjetointisovellus</h1>
              </div>
              <div id="slogan">
                  <h2 id="intro">Yksinkertainen sovellus <br/> <span class="color-text"> tulevaisuuden varallisuuden rakentamiseksi. </span>
                  </h2>
              </div>
          </div>
          <div id="navigationWrap">
              <div id="navigation">
                  <a href="#section2">
                      <button id="toCalculator" class="btn-floating btn-large amber darken-3 pulse"> Laskuriin </button>
                  </a>
              </div>
          </div>
      </div>

<!-- Actual page start -->
      <div id="section2" class="section-child">
          <div id="custom-body">
                  <div id="container_body">
                  <div class="halfs" id="half_1">
                      <form id="myForm" action="/#section2" method="post">
                          {% csrf_token %}
                          <div class="input">
                              <p>
                                  Nettotulot (e/kk):
                              </p>
                              <input type="number" class="input_field" id="netIncome" name="netIncome"
                                     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                     maxlength="10"
                                     required="required"/>
                          </div>
                          <div class="input">
                              <p>
                                  Säästöajan pituus vuosina:
                              </p>
                              <input type="number" class="input_field" id="savingTime" name="savingTime"
                                     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                     maxlength="10"
                                     required="required"/>
                          </div>
                          <div class="input">
                              <p>
                                  Tavoitevarallisuus:
                              </p>
                              <input type="number" class="input_field" id="targetWealth" name="targetWealth"
                                     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                     maxlength="10"
                                     required="required"/>
                          </div>
                          <div class="input">
                              <p>
                                  Alkuvarallisuus:
                              </p>
                              <input type="number" class="input_field" id="beginningWealth" name="beginningWealth"
                                     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                     maxlength="10"
                                     required="required"/>
                          </div>
                          <div class="input">
                              <p>
                                  Vuosittainen korkotavoite (%):
                              </p>
                              <input type="number" class="input_field" id="targetInterest" name="targetInterest"
                                     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                     maxlength="10"
                                     required="required"/>
                          </div>
                          <div id="submit_container">
                              <div class="button">
                                  <input id="submit" class="waves-effect btn amber darken-3" type="submit" name="Submit"
                                         oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                         maxlength="10"
                                         value="Laske">
                              </div>
                          </div>
                          <div id="reqSavings">
                              <h4> {{ result }}     </h4>
                          </div>
                      </form>
                  </div>
                  <div class="halfs" id="half_2">
                      <div class="input">
                          <p>
                              Asuminen:
                          </p>
                          <input type="number" class="input_field" id="houseExpenses" name="houseExpenses"
                                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                 maxlength="10"/>
                      </div>
                      <div class="input">
                          <p>
                              Asuminen:
                          </p>
                          <input type="number" class="input_field" id="houseExpenses" name="houseExpenses"
                                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                 maxlength="10"/>
                      </div>
                      <div class="input">
                          <p>
                              Asuminen:
                          </p>
                          <input type="number" class="input_field" id="houseExpenses" name="houseExpenses"
                                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                 maxlength="10"/>
                      </div>
                      <div class="input">
                          <p>
                              Asuminen:
                          </p>
                          <input type="number" class="input_field" id="houseExpenses" name="houseExpenses"
                                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                 maxlength="10"/>
                      </div>
                      <div class="input">
                          <p>
                              Asuminen:
                          </p>
                          <input type="number" class="input_field" id="houseExpenses" name="houseExpenses"
                                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                 maxlength="10"/>
                      </div>
                      <div class="input">
                          <p>
                              Asuminen:
                          </p>
                          <input type="number" class="input_field" id="houseExpenses" name="houseExpenses"
                                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                 maxlength="10"/>
                      </div>
                      <div class="input">
                          <p>
                              Asuminen:
                          </p>
                          <input type="number" class="input_field" id="houseExpenses" name="houseExpenses"
                                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                 maxlength="10" />
                      </div>
                      <div class="input">
                          <p>
                              Asuminen:
                          </p>
                          <input type="number" class="input_field" id="houseExpenses" name="houseExpenses"
                                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                 maxlength="10"/>
                      </div>
                      <div class="input">
                          <p>
                              Asuminen:
                          </p>
                          <input type="number" class="input_field" id="houseExpenses" name="houseExpenses"
                                 oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                 maxlength="10"/>
                      </div>
                  </div>
                  </div>
          </div>
      </div>
  </div>
<!-- page end - write nothing below this comment -->
</body>
</html>
